node_modules/
dist/
frontend/dist/
backend/frontend/dist/*
!backend/frontend/
!backend/frontend/dist/
!backend/frontend/dist/index.html
*.exe
*.zip
release/
*.db
*.log
.env
/.vscode/
/.idea/
*.test
/.DS_Store
coverage/
vendor/
npm-debug.log
bedboard
suivi-urgences
frontend/node_modules/
.signing/